* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
    background-color: black;
}

#container {
    width: 768px;
    height: 1024px;
    padding: 12px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    height: 900px;
}

#content > :first-child {
    margin-top: 0;
    padding-top: 0;
}

h1, h2, h3, p {
    line-height: 1.2;
    margin: 0.1em 0;
    padding: 0.1em 0;
}
h1, h2, h3 {
    font-weight: 600;
}

h1 { font-size: 26px; }
h2 { font-size: 24px;}
h3 { font-size: 22px; }
p { font-size: 20px; font-weight: 400; padding: 0; }


footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #555;
}

footer > p {
    font-size: 16px;
}

.checklist {
    font-size: 20px;
    width: 100%;
    margin: 12px 0;
}

.checklist.half {
    width: 50%;
    display: inline-block;
    float: left;
}

.checklist > div {
    width: 100%;
    padding: 0 4px;
}

.checklist > p {
    padding-left: 4px;
}

.checklist > div > span {
    width: 50%;
    display: inline-block;
}

.flowedlonglist3rd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
}

.flowedlonglist3rd > * {
    width: 230px;
    
}