html, body {
    color: #838787;
}

h1 {
    text-transform: uppercase;
}

h1, .secondary {
    color: #33A5DA;
    border-bottom: 2px solid #838787;
}

.checklist > div:not(:last-child) {
    border-bottom: 1px solid #555;
}
.checklist > div:nth-child(even) {
    background-color: #26404F;
}

.checklist > div > span:first-child {
    color: #33A5DA;
}

.checklist > div > span:nth-child(2) {
    color: #33A5DA;
}

#container {
    background-color: #222222;
}

section {
    margin: 16px 0;
}
.situation {
    color: #E74D44;
    text-transform: uppercase;
    font-size: 93%;
}
.radio-you {
    color: #33A5DA;
}
.radio-other {
    color: #838787;
    font-style: italic;
}
.radio-other2 {
    color: #885;
    font-style: italic;
}
.radio-other3 {
    color: #669;
    font-style: italic;
}